body {
  overflow-x: hidden !important;
}
html {
  scroll-behavior: smooth;
}
.hova {
  position: relative;
}
.hova:hover {
  color: #2a9d8f;
}
.reveal {
  position: relative;
  transform: translateY(120px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
@media screen and (max-width: 780px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
}
/* Bounce animation */
#shake:hover {
  color: #2a9d8f;
  animation-name: shake;
  animation-duration: 1.5s;
  backface-visibility: hidden;
}
@keyframes shake {
  0% {
    transform: scale(0.8, 1.3);
  }
  50% {
    transform: scale(1.1, 0.8);
  }
  75% {
    transform: scale(0.7, 1.2);
  }
  100% {
    transform: scale(1, 0.7);
  }
}
.pad:hover {
  color: #2a9d8f;
  border-bottom: 4px solid #2a9d8f;
  border-radius: 4px;
}
/* Animation */
.text-wrapper {
  border-radius: 50%;
  animation: animate 7s linear infinite;
}
.profileImg {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* transform: rotate(-15deg); */
}
#tools {
  position: relative;
  border-radius: 50%;
  animation: animate2 5s linear infinite;
}
@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}
/* Typing Animation */
#me {
  position: relative;
}
#me::after {
  content: "";
  position: absolute;
  left: 0;
  height: 120px;
  background: #000;
  width: 100%;
  border-left: 3px solid #2a9d8f;
  animation: typing 4s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 460px;
    margin: 0 -20px 0 35px;
  }
}
/* #about {
  position: relative;
}
#about::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background: #000;
  width: 100%;
  animation: bounce 3s steps(10) 1;
  animation-fill-mode: forwards;
} */
/* @keyframes bounce {
  100% {
    left: 100%;
  }
} */
/* #portfolio {
  position: relative;
}
#portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  background: #000;
  width: 100%;
  animation: moveRight 3s steps(10) 1;
  animation-fill-mode: forwards;
}
@keyframes moveRight {
  100% {
    left: 100%;
  }
} */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#ani,
.ani {
  animation: mouse 5s linear infinite;
}
@keyframes mouse {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.container span {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
}
.container span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: #2a9d8f;
  box-shadow: 0 0 10px #2a9d8f, 0 0 10px #2a9d8f, 0 0 10px #2a9d8f,
    0 0 10px #2a9d8f, 0 0 10px #2a9d8f, 0 0 10px #2a9d8f;
  border-radius: 50%;
  transition: 2s;
  transform: scale(0);
}
.container span:hover::before {
  transition: 0s;
  transform: scale(1);
}
/* #dp {
  transform: rotate(-9deg);
  opacity: 70%;
} */
.mail {
  writing-mode: vertical-lr;
}
.sticky {
  position: "";
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
#button {
  transition: "ease-out 1s";
  box-shadow: inset 0 0 0 0 #2a9d8f;
  outline: "none";
}
#button:hover {
  color: #000;
  cursor: pointer;
  box-shadow: inset 300px 0 0 0 #2a9d8f;
}
@media (max-width: 400px) {
  .projects {
    display: block;
  }
  .text-wrapper {
    display: block;
    height: 250px;
    width: 250px;
  }
}
@media (max-width: 600px) {
  /* Typing Animation */
  #me {
    position: relative;
  }
  #me::after {
    content: "";
    position: absolute;
    left: 0;
    height: 50px;
    background: #000;
    width: 100%;
    border-left: 3px solid #2a9d8f;
    animation: typing 4s steps(10) infinite;
  }
  @keyframes typing {
    100% {
      left: 150px;
      margin: 0 -20px 0 35px;
    }
  }
  #button:hover {
    box-shadow: inset 400px 0 0 0 #2a9d8f;
  }
}
#all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: burlywood;
}
.card,
#card {
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
}
.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 2s ease-in-out;
  transform: perspective(400px) rotateY(0deg);
}
.card:hover .face.front {
  transform: perspective(400px) rotateY(180deg);
}
.card .face.back {
  background: #3bc2ff;
  color: #ffff;
  transform: perspective(400px) rotateY(180deg);
}
.card:hover .face.back {
  transform: perspective(400px) rotateY(360deg);
}
#text {
  font-size: 2em;
  text-transform: uppercase;
  transform: perspective(400px) translateZ(50px);
}
/* toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
